<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../partials/head.ejs'); %>
</head>

<body>
    <div class="w-50 border border-1 mx-auto my-5 p-5">
        <div class="display-1 text-center">
            <i class="fab fa-js"></i>
        </div>
        <div class="my-3 text-center">
            <h1 class="display-6">PLEASE SELECT ONE OPTION</h1>
        </div>
        <div class="my-3">
            <a href="/register" class="d-block btn btn-primary my-1">Register</a>
            <a href="/login" class="d-block btn btn-dark my-1">Login</a>
        </div>
    </div>
</body>

</html>